.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0.75rem;
    border-radius: 0 0 0.6rem 0.6rem;
    flex-basis: 15%;
    background: hsla(258, 86%, 65%, 1);

    background: linear-gradient(270deg, hsla(258, 86%, 65%, 1) 0%, hsla(270, 86%, 65%, 1) 100%);

    background: -moz-linear-gradient(
        270deg,
        hsla(258, 86%, 65%, 1) 0%,
        hsla(270, 86%, 65%, 1) 100%
    );

    background: -webkit-linear-gradient(
        270deg,
        hsla(258, 86%, 65%, 1) 0%,
        hsla(270, 86%, 65%, 1) 100%
    );

    // filter: (
    //     progid:
    //         DXImageTransform.Microsoft.gradient(
    //             startColorstr= '#875AF3',
    //             endColorstr= '#A65BF3',
    //             GradientType=1
    //         )
    // );
}
